
<div class="content">
  <div class="maincontent">
    <h2>Edit Profile:</h2>
    <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :age %>
    <%= f.text_field :age %><br><br>
    <%= f.label :bio %>
    <%= f.text_area :bio %><br><br>
    <%= f.label :skills %>
    <%= f.text_field :skills %><br><br>
    <%= f.submit "Edit", class: "button" %>
    <% end %>
  </div>
</div>