<div class="topbar">VolunTravel |
See the world.
Do good.</div>
<div class="content">
  <h2>Create Account</h2>

<br>
<br>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "create" %>
<% end %>
