<div class="topbar">VolunTravel | 
See the world.
Do good.</div>
<div class="content">
  <h2>Create Account</h2>
  <%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :age %>
  <%= f.text_field :age %><br><br>
  <%= f.label :bio %>
  <%= f.text_area :bio %><br><br>
  <%= f.label :skills %>
  <%= f.text_field :skills %><br><br>
  <%= f.submit %>XXX
  <% end %>

  <div class="returnhome">
  <%= render '/layouts/home_link' %>
  </div>
</div>

<div class="bottombar">
Travel. Explore. Learn. Do good.
</div>