
<div class="topbar">VolunTravel | 
See the world.
Do good.</div>
<div class="content">
  <h1>Hi there, <%= current_user.username %></h1>.
  <h2><%= @user.name %></h2>
  <div class="list">
    <ul>
    Current Age: <%= @user.age %><br><br>
    Bio: <%= @user.bio %><br><br>
    Skills: <%= @user.skills %><br>
    </ul>
  </div>



  <div class="returnhome">
  <%= render '/layouts/home_link' %>
  </div>
</div>

<div class="bottombar">
Travel. Explore. Learn. Do good.
</div>