

<div class="content">
  <div class="maincontent-user">

  <h1>Hi there, <%= current_user.username %></h1>

  <div class="list">
    <ul>
    Name: <%= current_user.name %><br><br>
    Age: <%= current_user.age %><br><br>
    Bio: <%= current_user.bio %><br><br>
    Skills: <%= current_user.skills %><br>
    </ul>
    </div>
    <br>
      <%= link_to"Edit Profile".html_safe, edit_user_path, class: "button" %>
      <br>
      <br>
      <br>
      <br>
    <h2>My Trips:</h2>
    <div class="list">
    <% current_user.user_trips.each do |trip| %>
    <li>
      <%= link_to trip.project.name, project_path(trip.project) %>
      <% if trip.review == "" %>
        <% flash[:trip_id] = trip.id %>
        <%= (link_to "Leave Review".html_safe, edit_user_trip_path, class: "button") %>
      <% end %>
    </li>
    <% end %>
    </div>
  </div>

  <div class="sidebar">
    <h1>Browse all projects:</h1>
    <%= link_to "Go".html_safe, projects_path, class: "button"  %>
  </div>

</div>
