
<div class="content">
  <div class="maincontent-user">
    <h1>Hi there, <%= current_user.username %></h1>

    <div class="list">
      <ul>
      Current Age: <%= @user.age %><br><br>
      Bio: <%= @user.bio %><br><br>
      Skills: <%= @user.skills %><br>
      </ul>
    </div>
  </div>
  <div class="sidebar">
    <h1>Browse projects:</h1>
    <%= link_to '<button type="button">Go</button>'.html_safe, projects_path %>
  </div>

</div>
  