<h1>Users#show</h1>
<h1>Hi there, <%= current_user.username %></h1>.
<%= @user.name %><br>
<%= @user.age %><br>
<%= @user.bio %><br>
<%= @user.skills %><br>


<br>
<br>
<%= render '/layouts/home_link' %>
