
  <h1 class="header">Welcome to VolunTravel</h1>
  <div class="jumbotron">
    <div class="panel" id="panel1"></div>
    <div class="panel" id="panel2"></div>
    <div class="panel" id="panel3"></div>
  </div>
  <div class="grid2">
    <div id="whoweare">
       Our goal is simple. <br><br>
      We believe that travel is better when you build meaningful relationships. We connect individual travelers with organizations in need of volunteers. Through those connections, we build community.<br><br>
      We hope you'll join us and our partner organizations.
    </div>

    <div class="dashboard">
      <div class="dash">
        <h3 class="sub-header dash-text">Recent Trip Reviews</h3>
        <div class="list">
          <ul>
          <% @user_trips.sample(4).each do |trip| %>
                <h4><strong><%= trip.project.name %></strong></h4>
                  <div>
  				          <p class="review">"<%= trip.review %>"</p>
                    <footer class="blockquote-footer text-right">
  					           <cite>-- <%= (@users.find{ |user| user.id == trip.user_id }).name %></cite>
  				          </footer>
                  <div>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='grid-bg'>
    <div class="btn-grid1">
      <div id="allprojects"><h3 class="sub-header">See all current projects to start your journey </h3>
        <%= link_to "See All".html_safe, projects_path, class: "browse-button" %>
      </div>
    </div>
    <h3 class="or">or browse by</h3>
    <div class="btn-grid2">
      <div id="browsecategory">
        <%= link_to "Category".html_safe, categories_path, class: "browse-button" %>
      </div>
      <div id="browseorg">
        <%= link_to "Organization".html_safe, organizations_path, class: "browse-button" %>
      </div>
      <div id="browselocation">
        <%= link_to "Location".html_safe, locations_path, class: "browse-button" %>
      </div>
    </div>
  </div>
