<h1>HOME PAGE!!</h1>

<h2>See all projects:</h2>
<%= link_to '<button type="button">Go</button>'.html_safe, projects_path %>

<p>Prompt to search by:
<br>
or
<br>
Create a profile:
<%= link_to "Create", new_user_path %><br>
<br>
or Sign In: <br>
<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.text_field :password %>
<%= f.submit "Sign In" %>XXX
<% end %>
</p>
