
<div class="content">
  <div class="maincontent">
    <h1><%= @project.name %></h1>
    <div class="list">
      <ul>
      Location: <%= @project.location.name %><br><br>
      Price: $<%= @project.price %>0<br><br>
      Project Start Date: <%= @project.start_date %><br><br>
      Project Category: <%= @project.category.name %><br><br>
      Partner Organization: <%= link_to @project.organization.name, organization_path(@project.organization) %><br><br>
      Number of Available Volunteer Positions: <%= @project.available_spots %>
    </div>
  </div>

  <img src="<%=asset_path(@project.img_url)%>">
  
  
</div>

