<h1>Projects#show</h1>
<%= @project.name %><br>
<%= @project.location %><br>
<%= @project.price %><br>
<%= @project.start_date %><br>
<%= @project.category %><br>
<%= @project.organization %><br>
<%= @project.available_spots %><br>
