<div class="content">

    <h1 class="header"><%= @organization.name %></h1>
    <h5 class="desc"><%= @organization.description %></h5>
    <div class="grid2">
      <div class="logo">
        <%= image_tag ( "#{@organization.img_url}") %>
      </div>
      <div class="visitsite">
        <h4>For more information, please
        <%= link_to "visit our website", @organization.website, target: '_blank' %>.</h4>
      </div>
    </div>

    <div class="maincontent list grid3">
        <div class="sub-header">
          <h2>Project Categories</h2>
          <ul>
            <% @organization.categories.uniq.each do |cat| %>
              <h3>
                <%= link_to cat.name, category_path(cat) %>
              </h3>
            <% end %>
          </ul>
          <br>
        </div>
        <div class="sub-header">
          <h2>Our Projects</h2>
          <ul>
            <% @organization.projects.each do |project| %>
              <h3>
                <%= link_to project.name, project_path(project) %>
              </h3>
            <% end %>
          </ul>
          <br>
        </div>
        <div class="sub-header">
          <h2>Our Locations</h2>
            <ul>
              <% @organization.locations.uniq.each do |location| %>
                <h3>
                  <%= link_to location.name, location_path(location) %>
                </h3>
              <% end %>
            </ul>
          <br>
        </div>
    </div>
</div>
